
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Pokemon Selection</mat-label>
  <input #PokeInput matInput placeholder="Ex. pikachu" [value]="term" (keyup.enter)="getPokemon(PokeInput.value)">
</mat-form-field>
<app-pokemon-details></app-pokemon-details>
<!-- <div *ngIf="selectedPokemon">
    <h2>{{ selectedPokemon.name | uppercase }} Details</h2>
    <div><span>id: </span>{{selectedPokemon.id}}</div>
    <div><span>name: </span>{{selectedPokemon.name}}</div>

    <div>
        <label for="name">Pokemon name: </label>
        <input id="name" [(ngModel)]="selectedPokemon.name" placeholder="name">
    </div>
</div> -->

